<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/clinicals.css" %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Clinical Data</title>
</head>
<body>
    <h2>Patient Datails</h2>
    First Name : {{patient.firstName}}
    <br>
    Last Name : {{patient.lastName}}
    <br>
    Age : {{patient.age}}
    <h2>Patient Clinical Data</h2>
    <form method="post">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit" value="Submit">
    </form>
</body>
</html>